<div data-options="dxView : { name: 'About', title: 'About', pane: 'master' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">A polygraph (popularly referred to as a lie detector) measures and records several physiological indices such as blood pressure, pulse, respiration, and skin conductivity while the subject is asked and answers a series of questions. The belief underpinning the use of the polygraph is that deceptive answers will produce physiological responses that can be differentiated from those associated with non-deceptive answers; the polygraph is one of several devices used for lie detection.</p>
        </div>
    </div>
</div>